body{
    background-color: peachpuff;
}



#quizBox{
    background-color: white; 
}
#quizBox h1{
    color: orange;
}



button{
    background-color: orange;
    cursor: pointer;
    border: none;
}
button p{
    color: white;
    
}